<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar {
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 20px;
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .dashboard-button {
            flex-grow: 1;
            margin-right: 10px;
            padding: 20px;
            font-size: 20px;
        }

        .catalog-button {
            flex-grow: 1;
            margin-right: 10px;
            padding: 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"/>
        <a class="navbar-brand" th:href="@{/admin}">Admin Dashboard</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<div class="container">
    <div class="button-container">
        <a th:href="@{/admin/suppliersDashboard}" class="btn btn-primary btn-lg dashboard-button">Suppliers
            Dashboard</a>
        <a th:href="@{/admin/productsDashboard}" class="btn btn-success btn-lg dashboard-button">Product Dashboard</a>
    </div>
</div>
<div class="container">
    <div class="button-container">
        <a th:href="@{/suppliers}" class="btn btn-secondary btn-lg dashboard-button">Supplier Catalog</a>
        <a th:href="@{/products}" class="btn btn-secondary btn-lg catalog-button">Product Catalog</a>
    </div>
</div>
</body>
</html>
