<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Create Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar {
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 20px;
        }

        .container {
            margin-top: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .btn-primary {
            margin-top: 15px;
        }

        .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/admin/productDashboard}">Create Product</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<div class="container">
    <form th:action="@{'/admin/products/create'}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input type="text" class="form-control" id="brand" name="brand" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label>Select Suppliers:</label>
            <div th:each="supplier : ${suppliers}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:id="'supplierId_' + ${supplier.id}"
                           name="suppliersList" th:value="${supplier.id}">
                    <label class="form-check-label" th:for="'supplierId_' + ${supplier.id}"
                           th:text="${supplier.name}"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <th:block th:if="${error}">
            <div class="alert alert-danger" role="alert">
                Product with the same name and brand already exists. .
            </div>
        </th:block>
    </form>
</div>
</body>
</html>
