<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - Product Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar {
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 20px;
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .dashboard-button {
            flex-grow: 1;
            margin-right: 10px;
            padding: 20px;
            font-size: 20px;
        }

        .table {
            margin-top: 20px;
        }

        .product-info {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 20px;
        }

        .edit-button,
        .delete-button {
            margin-right: 10px;
        }

        .create-button {
            flex-grow: 1;
            padding: 20px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/admin/productsDashboard}">Admin - Product Dashboard</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<div class="container">
    <div class="button-container">
        <a th:href="@{/admin/createProduct}" class="btn btn-primary create-button">Create Product</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><strong th:text="${product.brand}"></strong></td>
            <td><strong th:text="${product.name}"></strong></td>
            <td><span>&#8364;</span><span th:text="${product.price}"></span></td>
            <td>
                <a th:href="@{'/admin/products/edit/' + ${product.id}}"
                   class="btn btn-primary edit-button">Edit</a>
                <form th:action="@{'/admin/products/delete/' + ${product.id}}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger delete-button">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
