<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SiwEcommerce - Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 24px;
            margin-top: 20px;
            font-weight: bold;
        }

        .btn {
            margin: 10px;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 25px;
        }

        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .dashboard-button {
            flex-grow: 1;
            margin-right: 10px;
            padding: 20px;
            border: none;
        }

        .catalog-button {
            flex-grow: 1;
            margin-right: 10px;
            padding: 20px;
        }

        .dashboard-button:hover {
        }

        .catalog-button:hover {
        }

        img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Siw Ecommerce</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
        </header>
    </div>
</nav>
<br/><br/>
<div class="container">
    <img src="/images/png/logo-black.png" width="50%"
         alt="logo siw ecommerce black"/>
</div>
<div class="container">
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h1 class="text-center">Welcome, <span th:text="${#authentication.getName()}"></span></h1>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <h1 class="text-center">Welcome</h1>
    </div>
    <div class="button-container">
        <a href="/products" class="btn btn-primary catalog-button">Explore Products</a>
        <a href="/suppliers" class="btn btn-secondary catalog-button">Explore Suppliers</a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN_ROLE'')')}"
           href="/admin/adminDashboard"
           class="btn btn-warning dashboard-button">Admin Dashboard</a>
    </div>
</body>
</html>
