<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siw Ecommerce - Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Add custom CSS for product details -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
        .product-info {
            border: 5px solid #ccc;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/products}">Products</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<br></br>
<div class="container">
    <div class="row">
        <th:block th:each="product : ${products}">
            <div class="col-md-3">
                <a th:href="@{'/product/' + ${product.id}}">
                    <div class="product-info">
                        <span th:text="${product.brand}"></span> -
                        <span th:text="${product.name}"></span><br>
                        <span>&#8364;</span><span th:text="${product.price}"></span>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <th:block th:unless="${products}">
        <p class="text-center">Sorry, no products available at the moment.</p>
    </th:block>
</div>
</body>
</html>
