<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siw Ecommerce - Product Details</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Add custom CSS for product details -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .product-details {
            margin: 20px;
        }

        .product-details h2 {
            margin-bottom: 10px;
        }

        .product-comments-content {
            margin-bottom: 20px;
        }

        .supplier-box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
        }

        .comment {
            border: 1px solid #ddd;
            padding: 10px;
            margin: 10px 0;
        }

        .comment h5 {
            font-weight: bold;
        }

        .comment p {
            margin: 5px 0;
        }

        .delete-comment button {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .delete-comment button:hover {
            background-color: #d32f2f;
        }

        .add-comment form {
            margin-top: 20px;
        }

        .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/products}">Product Details</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <th:block th:if="${product}">
                <div class="product-details">
                    <h2 th:text="${product.brand} + ' - ' + ${product.name}"></h2>
                    <p><strong>Brand:</strong> <span th:text="${product.brand}"></span></p>
                    <p><strong>Name:</strong> <span th:text="${product.name}"></span></p>
                    <p><strong>Price:</strong> <span>&#8364;</span><span th:text="${product.price}"></span></p>
                    <p><strong>Description:</strong> <span th:text="${product.description}"></span></p>
                </div>
            </th:block>
            <th:block th:unless="${product}">
                <p class="text-center">Product not found.</p>
            </th:block>
        </div>
        <div class="col-md-6">
            <!-- "Suppliers" section -->
            <div class="supplier-box">
                <h3>Suppliers:</h3>
                <div th:if="${product.suppliersList}">
                    <div th:if="${product.suppliersList.isEmpty()}">
                        No supplier is selling this product at the moment.
                    </div>
                    <div th:unless="${product.suppliersList.isEmpty()}">
                        <div class="suppliers">
                            <ul th:each="supplier : ${product.suppliersList}">
                                <div class="cards">
                                    <a th:href="@{'/supplier' + '/' + ${supplier.id}}">
                                        <div class="supplier-info">
                                            <h4 th:text="${supplier.name}">.</h4>
                                        </div>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of "Suppliers" section -->
        </div>
    </div>
    <div class="row">
        <!-- Comments section -->
        <div class="col-md-6">
            <div class="product-comments-content">
                <h3>Comments:</h3>
                <div th:if="${product.commentsList}">
                    <div th:if="${product.commentsList.isEmpty()}">
                        No comments available for this product.
                    </div>
                    <div th:unless="${product.commentsList.isEmpty()}">
                        <div class="comments">
                            <ul th:each="comment : ${product.commentsList}">
                                <div class="comment">
                                    <h5 th:text="${comment.author.username}"></h5>
                                    <p th:text="${comment.content}"></p>
                                    <p><small>Created at: <span
                                            th:text="${#dates.format(comment.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></span></small>
                                    </p>
                                    <div class="delete-comment">
                                        <th:block th:if="${#authorization.expression('hasAuthority(''ADMIN_ROLE'')')
                                            or (#authentication.getName() == comment.author.getUsername())}">
                                            <form th:action="@{'/comments/delete/' + ${comment.id}}" method="post"
                                                  style="display: inline;">
                                                <button type="submit" class="btn btn-danger delete-button">
                                                    <span class="log">Delete</span>
                                                </button>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="add-comment" th:if="${#authorization.expression('isAuthenticated()')}">
                        <form action="#" th:action="@{'/comments/newComment/' + ${product.id}}" method="post"
                              th:object="${comment}"
                              class="form">
                            <div class="form-group">
                                <label for="content">Add a comment:</label>
                                <textarea class="form-control" id="content" name="content" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
