<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siw Ecommerce - Suppliers</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Add custom CSS for suppliers -->
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .supplier-info {
            border: 5px solid #ccc;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
        }

        .table {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/suppliers}">Suppliers</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<br></br>
<div class="container">
    <div class="row">
        <th:block th:each="supplier : ${suppliers}">
            <div class="col-md-3">
                <div class="supplier-info">
                    <h4>
                        <a th:href="@{'/supplier/' + ${supplier.id}}">
                            <strong th:text="${supplier.name}"></strong>
                        </a>
                    </h4>
                    <p th:text="${supplier.email}"></p>
                    <p th:text="${supplier.address}"></p>
                </div>
            </div>
        </th:block>
    </div>
</div>
<th:block th:unless="${suppliers}">
    <p class="text-center">Sorry, no suppliers available at the moment.</p>
</th:block>
</div>
</body>
</html>
