<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Siw Ecommerce - Supplier Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        h2 {
            margin-top: 20px;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        table th, table td {
            padding: 10px;
            text-align: left;
            vertical-align: top;
        }

        table th {
            background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        table tbody tr:hover {
            background-color: #e0e0e0;
        }

        table tbody tr td:last-child {
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/images/png/logo-color.png"
             alt="logo siw ecommerce black"
             style="max-width: 45px; height: auto;"
        />
        <a class="navbar-brand" th:href="@{/suppliers}">Supplier Details</a>
        <header>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="${#authentication.name}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </header>
    </div>
</nav>
<div class="container">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Name</th>
            <td th:text="${supplier.name}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${supplier.email}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${supplier.address}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Products Sold</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>View Product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${supplier.productsList}">
            <td th:text="${product.name}"></td>
            <td><span>&#8364;</span><span th:text="${product.price}"></span></td>
            <td th:text="${product.description}"></td>
            <td>
                <a th:href="@{'/product/' + ${product.id}}">View Product</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
